.root {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 4px;
    padding: 15px 30px;
}

.mainInfo {
    display: flex;
    align-items: center;
}

.title {
    font-weight: bold;
}

.controls {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.ingredients {
    margin-top: 20px;
}

.ingredient:not(:last-child) {
    margin-bottom: 10px;
}