.root {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: auto;
}

.user {
    font-weight: 500;
}

.rating {
    margin-left: auto;
}

.ingredients {
    margin-top: 20px;
}

.ingredient:not(:last-child) {
    margin-bottom: 10px;
}